.top-navbar {
  background-color: #283618;
  height: 80px;
}

.top-navbar .navbar-brand,
.top-navbar .nav-link {
  color: #fefae0 !important;
}

.sidebar-hamburger {
  color: #fefae0;
  background: none !important;
}

.sidebar {
  color: #fefae0 !important;
  background-color: #283618;
}

.sidebar .nav-link {
  color: #fefae0 !important;
}

/* button {
  color: #fefae0 !important;
} */

.sidebar-item {
  display: flex !important;
  align-items: center;
  padding: 20px !important;
}

.sidebar-icon {
  margin-right: 15px;
}
